@font-face {
    font-family: fuentenokia;
    src: url(../assets/nokiafc22.ttf);
}


body {
    background: url(https://wallpaperaccess.com/full/3089023.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: fuentenokia;
}


h1 {
    text-align: center;
    padding-bottom: 3px;
    font-size: 35px;
    color: black;
}

h2 {
    margin-left: 30%;
    padding-bottom: 3px;
    font-family: fuentenokia;
    font-size: 18px;
    color: black
}

#gameboard {
    width: 600px;
    height: 400px;
    background-image: url(https://i.pinimg.com/originals/a5/9b/73/a59b735200362f91e6735b2abcb787b2.png);
    /*url(https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/af3df23ef99fe6845b15cad6591aecdb-1662054224/ohkay6/make-a-pixel-art-profile-picture-or-desktop-background.gif); */
    background-size: cover;
    position: relative;
    margin: auto;
    padding-bottom: 5px;

}

#bird {
    width: 40px;
    height: 30px;
    /* border-radius: 50%; */
    background-image: url(../assets/bird.gif);
    background-size: cover;
    position: absolute;
    display: inline-block;
}

.enemy {
    width: 65px;
    height: 70px;
    /* border-radius: 50%; */
    background-image: url(../assets/enemy.gif);
    background-size: cover;
    position: relative;
    display: inline-block;
}